<!--Grid row-->
<div class="row pt-lg-5 mt-lg-5">
    <!--Grid column-->
    <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left wow fadeInLeft"
         data-wow-delay="0.3s">
        <h1 class="display-4 font-weight-bold">Transmilenio</h1>
        <hr class="hr-light">
        <h6 class="mb-3 text-justify">
            TRANSMILENIO S.A. es el ente gestor del Sistema, la entidad encargada de coordinar los
            diferentes actores, planear, gestionar y controlar la prestación del servicio público de
            transporte masivo urbano de pasajeros, y tiene la responsabilidad de la prestación eficiente
            y permanente del servicio.
        </h6>
        <a mdbBtn href="https://www.transmilenio.gov.co/publicaciones/146028/historia-de-transmilenio/" target="_blank"
           color="white" outline="true" mdbWavesEffect>
            Leer mas
        </a>
        <a title="GitHub" class="text-white" href="https://github.com/omarsepulveda/Trasmilenio-Web-Application"
           target="_blank">
            <i class="align-middle fab fa-github mx-2 fa-3x"></i>
        </a>
    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-md-6 col-xl-5 mb-4">
        <!--Form-->
        <mdb-card *ngIf="getLocalStorage('correo') === null" class="wow fadeInRight" data-wow-delay="0.3s">
            <mdb-card-body class="z-depth-2">
                <!--Header-->
                <div class="text-center">
                    <h3 class="dark-grey-text">
                        <strong>Ingreso</strong>
                    </h3>
                    <hr>
                </div>
                <!--Body-->
                <form name="form" ngForm (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
                    <div class="md-form">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <input type="email" id="correo" class="form-control"
                               name="correo" [(ngModel)]="usuario.correo"
                               [ngClass]="{ 'is-invalid': f.submitted && correo.invalid }"
                               #correo="ngModel" required
                               mdbInput>
                        <label for="correo">correo</label>
                        <div *ngIf="f.submitted && correo.invalid" class="invalid-feedback">
                            <div *ngIf="correo.errors.required">El correo es requerido</div>
                        </div>
                    </div>

                    <div class="md-form">
                        <i class="fas fa-key prefix grey-text"></i>
                        <input type="password" id="contrasena" class="form-control"
                               name="contrasena" [(ngModel)]="usuario.contrasena"
                               [ngClass]="{ 'is-invalid': f.submitted && contrasena.invalid }"
                               #contrasena="ngModel" required
                               mdbInput>
                        <label for="contrasena">contraseña</label>
                        <div *ngIf="f.submitted && contrasena.invalid" class="invalid-feedback">
                            <div *ngIf="contrasena.errors.required">Contraseña requerida</div>
                        </div>
                    </div>

                    <div class="text-center mt-3">
                        <button mdbBtn color="indigo" mdbWavesEffect>Enviar</button>
                    </div>
                </form>
            </mdb-card-body>
        </mdb-card>
        <!--/.Form-->

        <!-- ITEMS -->
        <mdb-card *ngIf="getLocalStorage('correo') !== null" class="wow fadeInRight" data-wow-delay="0.3s">
            <mdb-card-body class="z-depth-2">
                <!--Header-->
                <div class="text-center">
                    <h3 class="dark-grey-text">
                        <strong>Utilidades</strong>
                    </h3>
                    <hr>
                </div>
                <!--Body-->
                <div class="text-center mt-3">
                    <button (click)="basicModal.show(); title = 'Vehículos'" mdbBtn style="width: 100%" type="button" size="lg" outline="true" color="danger" mdbWavesEffect>
                        Reporte Vehículos <mdb-icon fas icon="bus-alt fa-1.9x" class="mr-1"></mdb-icon>
                    </button>

                    <button (click)="showGenerate()" mdbBtn style="width: 100%" type="button" size="lg" outline="true" color="warning" mdbWavesEffect>
                        Generador de datos <mdb-icon fas icon="database fa-1.9x" class="mr-1"></mdb-icon>
                    </button>
                    <button (click)="showUploadFile()" mdbBtn style="width: 100%" type="button" size="lg" outline="true" color="success" mdbWavesEffect>
                        Cargar CSV <mdb-icon fas icon="route fa-1.9x" class="mr-1"></mdb-icon>
                    </button>
                </div>
            </mdb-card-body>
        </mdb-card>
        <!--        ITEMS-->
    </div>
    <!--Grid column-->
</div>
<!--Grid row-->

<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">Reporte {{title}} ({{auxVehiculos.length}})</h4>
            </div>
            <div class="modal-body">
                <div style="display: block">
                    <canvas mdbChart
                            [chartType]="chartType"
                            [datasets]="chartDatasets"
                            [labels]="chartLabels"
                            [colors]="chartColors"
                            [options]="chartOptions"
                            [legend]="true"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Cerrar</button>
            </div>
        </div>
    </div>
</div>
