<!--Grid row-->
<div class="row pt-lg-5 mt-lg-5">
    <!--Grid column-->
    <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left wow fadeInLeft"
         data-wow-delay="0.3s">
        <h1 class="display-4 font-weight-bold">Transmilenio</h1>
        <hr class="hr-light">
        <h6 class="mb-3 text-justify">
            TRANSMILENIO S.A. es el ente gestor del Sistema, la entidad encargada de coordinar los
            diferentes actores, planear, gestionar y controlar la prestación del servicio público de
            transporte masivo urbano de pasajeros, y tiene la responsabilidad de la prestación eficiente
            y permanente del servicio.
        </h6>
        <a mdbBtn href="https://www.transmilenio.gov.co/publicaciones/146028/historia-de-transmilenio/" target="_blank" color="white" outline="true" mdbWavesEffect>
            Leer mas
        </a>
        <a title="GitHub" class="text-white" href="https://github.com/omarsepulveda/Trasmilenio-Web-Application" target="_blank">
            <i class="align-middle fab fa-github mx-2 fa-3x"></i>
        </a>
    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-md-6 col-xl-5 mb-4">
        <!--Form-->
        <mdb-card class="wow fadeInRight" data-wow-delay="0.3s">
            <mdb-card-body class="z-depth-2">
                <!--Header-->
                <div class="text-center">
                    <h3 class="dark-grey-text">
                        <strong>Ingreso</strong>
                    </h3>
                    <hr>
                </div>
                <!--Body-->
                <div class="md-form">
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <input type="text" id="email" class="form-control" mdbInput>
                    <label for="email">correo</label>
                </div>

                <div class="md-form">
                    <i class="fas fa-key prefix grey-text"></i>
                    <input type="password" id="password" class="form-control" mdbInput>
                    <label for="password">contraseña</label>
                </div>

                <!--Textarea with icon prefix-->
                <div class="text-center mt-3">
                    <button mdbBtn color="indigo" mdbWavesEffect>Enviar</button>
                </div>
            </mdb-card-body>
        </mdb-card>
        <!--/.Form-->
    </div>
    <!--Grid column-->
</div>
<!--Grid row-->
