<mdb-card cascade="true" wider="true" reverse="true" class="my-4">
    <!-- Card content -->
    <mdb-card-body cascade="true" class="text-center">
        <!--Title-->
        <mdb-card-title>
            <h3>
                <strong>Vehículos</strong>
                <div *ngIf="getLocalStorage('correo')" class="btn-group" mdbDropdown (click)="ferame.show(); clearVehiculo()">
                    <mdb-icon fas icon="plus-circle teal-text mx-4" size="1x"
                              mdbDropdownToggle class="waves-effect" mdbWavesEffect>
                    </mdb-icon>
                </div>
            </h3>
        </mdb-card-title>
        <!--Title-->
        <mdb-card-text>
            <table *ngIf="vehiculos.length > 0" mdbTable mdbTableScroll bordered="true"
                   class="table table-striped table-responsive-md btn-table"
                   scrollY="true" maxHeight="450">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Matricula</th>
                    <th>Código Interno</th>
                    <th>Tipo Bus</th>
                    <th *ngIf="getLocalStorage('correo')">Acción</th>
                </tr>
                </thead>

                <tbody *ngFor="let v of vehiculos | angularPaginator: { currentPage: currentPage}">
                <tr mdbTableCol>
                    <th scope="row">{{v.id}}</th>
                    <td>{{v.matricula}}</td>
                    <td>{{v.codigo_interno}}</td>
                    <td>{{getTipo(v.tipo)}}</td>
                    <td *ngIf="getLocalStorage('correo')">
                        <div class="btn-group" mdbDropdown>
                            <mdb-icon fas icon="cog indigo-text" size="2x" classInside="dropdown-toggle"
                                      mdbDropdownToggle class="waves-effect" mdbWavesEffect>
                            </mdb-icon>
                            <div class="dropdown-menu dropdown-primary">
                                <a class="dropdown-item" (click)="ferame.show();editar(v)">Editar</a>
                                <a class="dropdown-item" (click)="eliminar(v)">Borrar</a>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <app-angular-paginator *ngIf="vehiculos.length > 10" nextText="Siguiente" previousText="Anterior" id="ANGULAR_PAGINATOR_DEFAULT" className="ANGULAR_PAGINATOR_DEFAULT" (pageChange)="currentPage = $event"></app-angular-paginator>
            <label *ngIf="vehiculos.length < 1">
                <p class="text-center">No se encontraron registros.</p>
            </label>
        </mdb-card-text>
    </mdb-card-body>
</mdb-card>

<div mdbModal class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" #ferame="mdbModal">
    <div class="modal-dialog cascading-modal modal-avatar" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header">
                <img src="assets/img/vehiculo.ico" alt="vehículo" class="rounded-circle img-responsive">
            </div>
            <!--Body-->
            <div class="modal-body mb-1">

                <h5 class="mt-1 mb-2 text-center">Vehículo</h5>
                <form ngForm (ngSubmit)="f.form.valid && ferame.hide();guardar(); " #f="ngForm">
                    <div class="md-form ml-0 mr-0">
                        <input type="text" type="text" id="matricula"
                               class="form-control form-control-sm ml-0"
                               mdbInput name="matricula" [(ngModel)]="vehiculo.matricula"
                               [ngClass]="{ 'is-invalid': f.submitted && matricula.invalid }"
                               #matricula="ngModel" required>

                        <label data-error="wrong" data-success="right" for="matricula" class="ml-0">Matricula</label>
                        <div *ngIf="f.submitted && matricula.invalid" class="invalid-feedback">
                            <div *ngIf="matricula.errors.required">La matricula es requerida</div>
                        </div>
                    </div>

                    <div class="md-form ml-0 mr-0">
                        <input type="text" type="text" id="codigo_interno" class="form-control form-control-sm ml-0"
                               mdbInput name="codigo_interno" [(ngModel)]="vehiculo.codigo_interno"
                               [ngClass]="{ 'is-invalid': f.submitted && codigo_interno.invalid }"
                               #codigo_interno="ngModel" required>

                        <label data-error="wrong" data-success="right" for="codigo_interno" class="ml-0">Código interno</label>
                        <div *ngIf="f.submitted && codigo_interno.invalid" class="invalid-feedback">
                            <div *ngIf="codigo_interno.errors.required">El código es requerido</div>
                        </div>
                    </div>
                    <div class="ml-0 mr-0">
                        <label data-error="wrong" data-success="right" for="tipo" class="ml-0">Tipo vehículo</label>
                        <select id="tipo" class="browser-default custom-select" name="tipo" [(ngModel)]="vehiculo.tipo"
                                [ngClass]="{ 'is-invalid': f.submitted && tipo.invalid }"
                                #tipo="ngModel" required>

                            <option *ngFor="let tipo of tipos" [value]="tipo.id">{{tipo.nombre_tipo_vehiculo}}</option>
                        </select>
                        <div *ngIf="f.submitted && tipo.invalid" class="invalid-feedback">
                            <div *ngIf="tipo.errors.required">El tipo es requerido</div>
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <button  mdbBtn color="cyan" rounded="true" class="mt-1 waves-light" mdbWavesEffect>
                            Guardar
                            <mdb-icon fas icon="check ml-1"></mdb-icon>
                        </button>
                    </div>
                </form>
            </div>

        </div>
        <!--/.Content-->
    </div>
</div>
