<mdb-card cascade="true" wider="true" reverse="true" class="my-4">
    <!-- Card content -->
    <mdb-card-body cascade="true" class="text-center">
        <!--Title-->
        <mdb-card-title>
            <h3>
                <strong>Vehículos</strong>
            </h3>
        </mdb-card-title>
        <!--Title-->
        <mdb-card-text>
            <table class="table table-striped table-responsive-md btn-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Imagen</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>
                        <button mdbBtn color="indigo" size="sm" mdbWavesEffect type="button" class="m-0">Button</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>@fat</td>
                    <td>
                        <button mdbBtn color="indigo" size="sm" mdbWavesEffect type="button" class="m-0">Button</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>
                        <button mdbBtn color="indigo" size="sm" mdbWavesEffect type="button" class="m-0">Button</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </mdb-card-text>
    </mdb-card-body>
</mdb-card>
