<header>
    <!--Navbar-->
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
        <mdb-navbar-brand>
            <a class="logo navbar-brand waves-light" mdbWavesEffect routerLink="/" routerLinkActive="active"
               (click)="conClase = 'home'">
                <strong>TRANSMILENIO</strong>
            </a>
        </mdb-navbar-brand>
        <links>
            <ul class="navbar-nav mr-auto">
                <li [ngClass]="{'active': conClase==='v'}" class="nav-item waves-light" mdbWavesEffect
                    (click)="conClase = 'v'">
                    <a class="nav-link"
                       routerLink="/vehiculos" routerLinkActive="active">Vehículos<span
                            class="sr-only">(current)</span></a>
                </li>
                <li [ngClass]="{'active': conClase==='tv'}" class="nav-item waves-light" mdbWavesEffect
                    (click)="conClase = 'tv'">
                    <a class="nav-link"
                       routerLink="/tipos-vehiculo" routerLinkActive="active">Tipos Vehículo<span
                            class="sr-only">(current)</span></a>
                </li>
                <li [ngClass]="{'active': conClase==='t'}" class="nav-item waves-light" mdbWavesEffect
                    (click)="conClase = 't'">
                    <a class="nav-link" routerLink="/troncales" routerLinkActive="active">Troncales<span
                            class="sr-only">(current)</span></a>
                </li>
                <li [ngClass]="{'active': conClase==='p'}" class="nav-item waves-light" mdbWavesEffect
                    (click)="conClase = 'p'">
                    <a class="nav-link" routerLink="/portales" routerLinkActive="active">Portales<span
                            class="sr-only">(current)</span></a>
                </li>
                <li [ngClass]="{'active': conClase==='e'}" class="nav-item waves-light" mdbWavesEffect
                    (click)="conClase = 'e'">
                    <a class="nav-link" routerLink="/estaciones" routerLinkActive="active">Estaciones<span
                            class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul *ngIf="getLocalStorage('correo') !== null" class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item dropdown" dropdown>
                    <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                       mdbWavesEffect>
                        <mdb-icon fas icon="user"></mdb-icon>
                        {{getLocalStorage('correo')}}<span class="caret"></span>
                    </a>
                    <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary"
                         role="menu">
                        <a class="dropdown-item waves-light" (click)="closeSession()" mdbWavesEffect>Cerrar sesión</a>
                    </div>
                </li>
            </ul>
        </links>
    </mdb-navbar>
    <!-- Navbar -->
    <!-- Full Page Intro -->
    <div class="view"
         style="background-image: url('assets/img/background.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <div class="mask rgba-indigo-strong d-flex justify-content-center align-items-center">
            <!-- Content -->
            <div class="container">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <!-- Full Page Intro -->
</header>
<!-- Main navigation -->
