<header>
    <!--Navbar-->
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
        <mdb-navbar-brand>
            <a class="logo navbar-brand waves-light" mdbWavesEffect routerLink="/" routerLinkActive="active" (click)="conClase = 'home'">
                <strong>TRANSMILENIO</strong>
            </a>
        </mdb-navbar-brand>
        <links>
            <ul class="navbar-nav mr-auto">
                <li [ngClass]="{'active': conClase==='v'}" class="nav-item waves-light" mdbWavesEffect (click)="conClase = 'v'">
                    <a class="nav-link"
                       routerLink="/vehiculos" routerLinkActive="active">Vehículos<span
                         class="sr-only">(current)</span></a>
                </li>
                <li [ngClass]="{'active': conClase==='t'}" class="nav-item waves-light" mdbWavesEffect (click)="conClase = 't'">
                    <a class="nav-link" routerLink="/troncales" routerLinkActive="active">Troncales<span
                             class="sr-only">(current)</span></a>
                </li>
                <li [ngClass]="{'active': conClase==='p'}" class="nav-item waves-light" mdbWavesEffect (click)="conClase = 'p'">
                    <a class="nav-link" routerLink="/portales" routerLinkActive="active">Portales<span
                             class="sr-only">(current)</span></a>
                </li>
            </ul>
        </links>
    </mdb-navbar>
    <!-- Navbar -->
    <!-- Full Page Intro -->
    <div class="view"
         style="background-image: url('assets/img/background.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <div class="mask rgba-indigo-strong d-flex justify-content-center align-items-center">
            <!-- Content -->
            <div class="container">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <!-- Full Page Intro -->
</header>
<!-- Main navigation -->
